@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  font-family: 'Nunito Sans', sans-serif;
}
.container {
  overflow: hidden;
  min-width: 100%;
  margin: 0 auto;
  min-height: 100%;
}
